{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Tarea 3</h2>

<div class="container">

<h3>{{p.name}}</h3>
    <dl>
        <dd>   Modelo: {{ p.model }} </dd>
        <dd>   Manufactura: {% for m in p.manufacturers %} {{ m}} / {% endfor %} </dd>
        <dd>   Costo en créditos: {{ p.costInCredits}} </dd>
        <dd>   Largo: {{ p.length}} </dd>
        <dd>   Máxima velocidad atmosférica: {{ p.maxAtmospheringSpeed}} </dd>
        <dd>   Tripulación: {{ p.crew}} </dd>
        <dd>   Pasajeros: {{ p.passengers}} </dd>
        <dd>   Capacidad de Carga: {{ p.cargoCapacity}} </dd>
        <dd>   Consumables: {{ p.consumables}} </dd>
        <dd>   Hyperdrive Rating: {{ p.hyperdriveRating}} </dd>
        <dd>   MGLT: {{ p.MGLT}} </dd>
        <dd>   Clase: {{ p.starshipClass}} </dd>
    </dl>

    <dl>
        <dt>Pilotos</dt>
        {% for i in pilotos %}
         <dd><a href="/personaje/{{ i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}
        <br> </br>
        <dt>Peliculas</dt>
        {% for i in peliculas%}
         <dd><a href="/pelicula/{{ i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}

    </dl>




{% endblock %}

