{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Tarea 3</h2>

<div class="container">

<h3>{{film.title}}</h3>

    <dl>
         <dd>   Año de lanzamiento: {{ film.release_date|slice:"4" }} </dd>
        <dd>   Director: {{ film.director }} </dd>
        <dd>   Productor(es):{% for p in film.producer %} {{ p}} / {% endfor %}</dd>
        <dd>   Número de Episodio: {{ film.episode_id}} </dd>
        <dd>   Opening Crawl: {{ film.opening}} </dd>


    </dl>


    <dl>
        <dt>Personajes</dt>
        {% for i in film.personas %}
         <dd><a href="/personaje/{{i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}
        <br> </br>
        <dt>Naves</dt>
        {% for i in film.naves %}
         <dd><a href="/nave/{{i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}
        <br> </br>
        <dt>Planetas</dt>
        {% for i in film.planetas%}
         <dd><a href="/planeta/{{i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}

    </dl>




{% endblock %}

