{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Tarea 3</h2>

<div class="container">

<h3>{{p.name}}</h3>
    <dl>
        <dd>   Período de rotación: {{ p.rotationPeriod }} </dd>
        <dd>   Período orbital: {{ p.orbitalPeriod}} </dd>
        <dd>   Diámetro: {{ p.diameter}} </dd>
        <dd>   Clima(s): {% for c in p.climates %} {{ c}} / {% endfor %} </dd>
        <dd>   Gravedad: {{ p.gravity}} </dd>
        <dd>   Terreno(s): {% for t in p.terrains %} {{ t}} / {% endfor %} </dd>
        <dd>   Agua de superficie: {{ p.surfaceWater}} </dd>
        <dd>   Población: {{ p.population}} </dd>

    </dl>


    <dl>
          <dt>Residentes</dt>
        {% for i in residentes %}
         <dd><a href="/personaje/{{ i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}
        <br> </br>
        <dt>Peliculas</dt>
        {% for i in peliculas%}
         <dd><a href="/pelicula/{{ i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}

    </dl>




{% endblock %}

